.sectionRank {
    padding: 20px;
    width: 100%;
    max-width: 1080px;
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto; /* 居中顯示 */
    font-family: 'Noto Sans TC','Microsoft JhengHei',sans-serif;
}

.rank-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
  font-family:'Noto Sans TC','Microsoft JhengHei',sans-serif;
}

.rank-subtitle {
  font-size: 18px;
  margin-bottom: 5px;
  color: #555;
}

.product-rankings {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* 確保在小屏幕上也能正常顯示 */
  gap: 20px; /* 增加卡片之間的間距 */
}

.product-ranking {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px; /* 固定每個卡片的最大寬度 */
  margin: 10px auto; /* 確保卡片在小屏幕上居中 */
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: left;
  padding: 20px;
  
}

.product-ranking:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.product-ranking h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ff6f61;
  font-size: 24px;
  border-bottom: 2px solid #ff6f61;
  padding-bottom: 10px;
}

.product-ranking ul {
  list-style-type: none;
  padding: 0;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, transform 0.3s;
}

.product-item:hover {
    background-color: #ffefef;
    transform: translateX(5px);
    cursor: pointer; /* 鼠标指针样式 */
}

.rank {
  font-weight: bold;
  color: #ff6f61;
  margin-right: 10px;
}

.name {
  flex-grow: 1;
  text-align: left;
  color: #555;
  font-size: 15px;
}

.description {
    font-size: 12px;
    color:#ff6f61;
}

.activity-image {
    width: 120px;
    height: 100px;
    border-radius: 5px;
}

.image-container {
    position: relative;
}


.rank-overlay {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 12px;
}
.body {
    font-family: 'Noto Sans', 'Arial', 'Microsoft JhengHei', 'Heiti TC', 'sans-serif';
}

