.service-chat-room {
    .message-container {
        /* 設定訊息容器的高度為200%，允許垂直滾動 */
        height: 200%;
        overflow-y: auto;
        background-color: #f9f9f9; /* 背景顏色 */
        border: 1px solid #ccc; /* 邊框顏色 */
        border-radius: 5px; /* 邊框圓角 */
        margin-bottom: 10px; /* 底部外距 */
        width: 145%; /* 寬度 */

        .message-row {
            display: flex; /* 使用flexbox布局 */

            &.sent {
                /* 發送的訊息樣式 */
                .message-content {
                    background-color: #e1ffc7; /* 背景顏色 */
                    text-align: right; /* 文字對齊方式 */
                }
            }

            &.received {
                /* 接收的訊息樣式 */
                .message-content {
                    background-color: #ffffff; /* 背景顏色 */
                    text-align: left; /* 文字對齊方式 */
                }
            }
        }

        .message-content {
            padding: 10px; /* 內距 */
            border-radius: 5px; /* 邊框圓角 */
            max-width: 60%; /* 最大寬度 */
            font-size: 16px; /* 字體大小 */
        }

        .message-username {
            font-weight: bold; /* 字體加粗 */
            margin-bottom: 5px; /* 底部外距 */
        }
    }

    .send-message-form {
        display: flex; /* 使用flexbox布局 */
        align-items: center; /* 垂直對齊中心 */
        font-size: 16px; /* 字體大小 */
        width: 500px; /* 表單寬度 */

        .form-control {
            flex: 1; /* 彈性佔據剩餘空間 */
            margin-right: 10px; /* 右側外距 */
            font-size: 16px; /* 字體大小 */
            width: 600px; /* 控件寬度 */
        }

        .btn {
            margin-left: 10px; /* 左側外距 */
            font-size: 16px; /* 字體大小 */
        }

        .leave-btn {
            margin-left: 10px; /* 左側外距 */
            font-size: 16px; /* 字體大小 */
        }
    }
}
