.grid-container {
    display: flex;
    max-width: 1080px;
    height: 500px; /* 固定高度 */
    margin: 10px auto 0 auto; /* 添加上邊距 */
    position: relative;
  }
  
  .left-image-container, .right-image-container {
    display: flex;
    flex-direction: column;
  }
  
  .left-image-container {
    flex: 2;
    margin-right: 10px;
  }
  
  .right-image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .large-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .small-image  {
    width: 100%;
    height: calc(50% - 5px); /* 为每张小图片预留一些空间 */
    object-fit: cover;
    cursor: pointer;
  }

.view-all-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.overlay-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1080px;
}

.main-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 80vh; /* 确保图片不会超出视口 */
  margin-bottom: 20px; /* 确保图片和缩略图不重叠 */
}

.main-image {
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: contain;
  transition: opacity 0.5s ease-in-out; /* 新增过渡效果 */
  opacity: 1;
}

.main-image.fade {
  opacity: 0;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden; /* 移除垂直卷軸 */
}

.thumbnail-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.6;
  transition: transform 0.3s ease, opacity 0.3s ease; /* 新增过渡效果 */
}

.thumbnail-image:hover {
  transform: scale(1.1); /* 悬停时放大效果 */
}

.thumbnail-image.active {
  border: 2px solid white;
  opacity: 1;
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 36px;
  color: white;
  cursor: pointer;
  user-select: none;
  transform: translateY(-50%);
}

.left-arrow {
  left: 20px;
}

.right-arrow {
  right: 20px;
}