.price-range-filter {
  padding: 16px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  width: 100%; /* 确保过滤器组件的宽度与父容器一致 */

  h3 {
    font-size: 1.2em;
    margin-bottom: 16px;
    color: #333;
  }

  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    input {
      width: 100px;
      padding: 8px;
      margin-right: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    span {
      margin: 0 8px;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    .reset-button, .ok-button {
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .reset-button {
      background-color: #fff;
      color: #f56c46;
      border: 1px solid #f56c46;
    }

    .ok-button {
      background-color: #f56c46;
      color: white;
    }
  }
}
