.product-reviews {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .product-reviews h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
  }
  
  .review {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
  }
  
  .review:last-child {
    border-bottom: none;
  }
  
  .star{
    color: #ff9900;
  }